<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECSHOP 管理中心</title>
    <script type="text/javascript" language="JavaScript">
        <!--
            if(window.top != window)
            {
                window.top.location.href = document.location.href;
            }
            //-->
        </script>
</head>
<frameset rows="76,*" framespacing="0" border="0">
    <frame src="index.php?p=back&c=Manage&a=top" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
    <frameset cols="180,10,*" framespacing="0" border="0" id="frame-body">
        <frame src="index.php?p=back&c=Manage&a=menu" id="menu-frame" name="menu-fram" frameborder="no" scrolling="yes">
        <frame src="index.php?p=back&c=Manage&a=drag" id="drag-frame" name="drag-fram" frameborder="no" scrolling="no">
        <frame src="index.php?p=back&c=Manage&a=main" id="main-frame" name="main-fram" frameborder="no" scrolling="yes">
    </frameset>
</frameset>

<body>

</body>
</html>